---
interface Props {
  id: string;
  styles?: string;
}

const { id, styles } = Astro.props;
---

<section
  id={id}
  class={`w-full flex flex-col items-center justify-center ${styles}`}
>
  <div class="sm:w-[500px] w-full flex flex-col gap-3">
    <slot />
  </div>
</section>
