---
interface Props {
  time: string;
  title: string;
  description: string;
}

const { title, time, description } = Astro.props;
---

<li class="mb-10 ms-4">
  <div
    class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white"
  >
  </div>
  <time class="mb-1 text-sm text-gray-400">{time}</time>
  <h3 class="text-lg font-semibold text-transparent bg-clip-text bg-gradient-to-r from-primary to-cyan-500 text-pretty">
    {title}
  </h3>
  <p class="mb-4 text-pretty">
    {description}
  </p>
</li>
