---
const year = new Date().getFullYear();
---

<footer
  class="flex flex-col justify-center items-center border-t border-[#262626] h-[100px]"
>
  <p class="text-sm">©{year} Ignacio Biran All rights reserved.</p>
</footer>
