---
import "@fontsource-variable/onest";

import { NavbarComponent } from "../components/react/Navbar";
import Footer from "../components/astro/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Ignacio Biran" />
    <meta
      name="description"
      content="Explora mi portfolio para descubrir mi pasión por el desarrollo web. Desde interfaces elegantes hasta soluciones técnicas innovadoras. Descubre cómo fusiono creatividad y tecnología para ofrecer soluciones impactantes."
    />
    <title>Ignacio Biran | Portfolio</title>
  </head>
  <body>
    <NavbarComponent client:load />

    <main class="flex flex-col gap-20 p-4">
      <slot />
    </main>

    <Footer />

    <style is:global>
      :root {
        font-family: "Onest Variable", sans-serif;
        scroll-behavior: smooth;
      }
    </style>
  </body>
</html>
